/* @import url(view.css); */
@import url(links.css);

pre {
  font-family: FiraSans;
}

/* html, body {
  margin: 0;
  padding: 0.5rem;
} */

div {
/*   font-size: small; */
/*   border: 1px solid; */
  padding: 0 0 0;
/*   display: inline; */
}

div.entry {
/*   font-size: small; */
  border: 0.1em solid;
/*   margin: 0 0 1em; */
}

pre {
/*   margin: 0 0 0; */
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis ellipsis;
}

pre:focus {
  overflow: visible;
  white-space: pre;
/*   white-space: pre; */
}
