@import url(form.css);
@import url(menu.css);

:root {
    color-scheme: light dark;
}

html {
    font-size: medium;
    scrollbar-width: none;
}

body {
    background-color: white;
    color: black;
    /* left: 0; */
    margin: 0;
    /* Don't refresh page when top of page is reached. */
    overscroll-behavior: none;
    /* position: fixed; */
    /* top: 0; */
    /* height: 100vh; */
    /* width: 100vw; */
    /* height: 100%; */
    /* width: 100%; */
}

body.dark_theme {
    color: white;
    background-color: black;
}

.dark_theme a:link {
    color: aqua;
}
.dark_theme a:visited {
    color: lightblue;
}

/* See form.css for input element styling, also included by our web components. */

/* JUMPER */

div#scroll-and-view {
    background-color: inherit;
    color: inherit;
    display: flex;
    height: calc(100vh - 1.5rem);
    position: sticky;
    top: 1.5rem;
    z-index: 1;
}

nav#punchcard_scrollbar {
    background-color: inherit;
    color: inherit;
    /*! flex: auto; */
    font-family: monospace;
    /*! font-size: 1rem; */
    text-align: center;
}

nav#punchcard_scrollbar ul {
    background-color: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-flow: column;
}

section#view-punchcard-list {
    width: 100vw;
    /* right: 0; */
    overflow: scroll;
    scrollbar-width: none;
    background-color: inherit;
}

nav#punchcard_scrollbar li {
    background-color: inherit;
    color: inherit;
    display: flex;
    /* 29 should be sufficient for 29 entries, but last entry gets
   truncated for small heigths */
    font-size: 0.5rem;
    flex: auto;
    /*! flex-direction: column; */
}

nav#punchcard_scrollbar li a {
    background-color: inherit;
    color: inherit;
    flex: auto;
    padding-top: 0.5rem;
    text-decoration: none;
    white-space: pre;
}

nav#punchcard_scrollbar li a.deleted {
    /* background-color: white; */
    color: red;
}

.dark_theme nav#punchcard_scrollbar li a.deleted {
    /* background-color: white; */
    color: darkred;
}

nav#punchcard_scrollbar li a:hover {
    filter: invert(100%);
}

#filter {
    background-color: inherit;
    color: inherit;
    position: relative;
    top: 0;
    z-index: 1;
}

about-ui {
    background-color: inherit;
    color: inherit;
}

options-ui {
    background-color: inherit;
    color: inherit;
}

button {
    background-color: inherit;
    color: inherit;
}

/* #filter input-ui:focus-within { */
/*     color: inherit; */
/* } */

#bottom {
    background-color: white;
}

#bottom_div {
    display: flex;
    text-align: center;
}

#bottom_div * {
    flex: auto;
}

.dark_theme #bottom {
    background-color: black;
}

:target {
    border: 0.2rem dashed;
}

/* .dark_theme #filter input-ui { */
/*     background-color: black; */
/*     color: white; */
/* } */
