@import url(form.css);
@import url(menu.css);

:root {
    color-scheme: light dark;
}

html {
    font-size: medium;
    scrollbar-width: none;
}

body {
    background-color: white;
    color: black;
    /* left: 0; */
    /* margin: 0; */
    /* Don't refresh page when top of page is reached. */
    overscroll-behavior: none;
    /* position: fixed; */
    /* top: 0; */
}

body.dark_theme {
    color: white;
    background-color: black;
}

.dark_theme a:link {
    color: aqua;
}
.dark_theme a:visited {
    color: lightblue;
}

/* See form.css for input element styling, also included by our web components. */

/* JUMPER */

div#scroll-and-view {
    background-color: inherit;
    color: inherit;
    display: flex;
    height: calc(100vh - 8mm);
    position: relative;
    top: 8mm;
}

nav#punchcard_scrollbar {
    background-color: inherit;
    color: inherit;
    /*! flex: auto; */
    font-family: monospace;
    /*! font-size: 1rem; */
    text-align: center;
}

nav#punchcard_scrollbar ul {
    background-color: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
    height: 100%;
    /*! overflow-x: scroll; */
    display: flex;
    /*! font-size: 0.9rem; */
    /*! flex: auto; */
    /*! flex-direction: column; */
    flex-flow: column;
}

section#view-punchcard-list {
    width: 100vw;
    /* right: 0; */
    overflow: scroll;
    scrollbar-width: none;
}

nav#punchcard_scrollbar li {
    background-color: inherit;
    color: inherit;
    display: flex;
    /* 29 should be sufficient for 29 entries, but last entry gets
   truncated for small heigths */
    font-size: 0.5rem;
    flex: auto;
    /*! flex-direction: column; */
}

nav#punchcard_scrollbar li a {
    background-color: inherit;
    color: inherit;
    flex: auto;
    padding: 0;
    text-decoration: none;
    white-space: pre;
}

nav#punchcard_scrollbar li a.deleted {
    /* background-color: white; */
    color: red;
}

.dark_theme nav#punchcard_scrollbar li a.deleted {
    /* background-color: white; */
    color: darkred;
}

nav#punchcard_scrollbar li a:hover {
    filter: invert(100%);
}

#filter input-ui {
    position: fixed;
    top: 8mm;
    left: 8mm;
    background-color: white;
    color: black;
}

#filter input-ui:focus-within {
    color: inherit;
}

#bottom {
    background-color: white;
}

.dark_theme #bottom {
    background-color: black;
}

.dark_theme #filter input-ui {
    background-color: black;
    color: white;
}
