a {
  padding: 0.2rem;
}

a:any-link {
    color: blue;
}

a:any-link.dark_theme {
    color: lightblue;
}

/* web components include this file */
:host-context(.dark_theme) a:any-link {
    color: lightblue;
}
