ul.menu {
    border: 1px solid;
    display: none;
    position: fixed;
    margin: 0;
    padding: 0;
}

ul.menu > li {
    display: block;
}

ul.menu > li > button {
    background-color: white;
    border: 0;
    color: black;
    display: block;
    font-size: 1rem;
    padding: 0.5rem;
    width: 100%;
}

ul.menu > li > button:disabled {
    background-color: silver;
}

.dark_theme ul.menu > li > button {
    background-color: black;
    color: white;
}

.dark_theme ul.menu > li > button:disabled {
    background-color: silver;
}

ul.menu a {
/*   background-color: black; */
/*   color: white; */
/*   background-color: white; */
/*   border: 1px solid; */
  font-size: large;
/*   margin: 0.2em; */
  display: inline;
}
