ul.menu {
    border: 1px solid;
    position: fixed;
    margin: 0;
    padding: 0;
}

ul.menu > li {
    display: block;
    background-color: white;
    color: black;
}

.dark_theme ul.menu > li {
    display: block;
    background-color: black;
    color: white;
}

ul.menu > li > button {
    border: 0;
    display: block;
    font-size: 1rem;
    padding: 0.5rem;
    width: 100%;
}

ul.menu a {
  font-size: large;
  display: inline;
}
