@import url(links.css);
/* @import url(view.css); */

#start, #end {
  width: 70%;
}

.sign, .year, .month, .date, .week, .hour, .minute, .second {
  font-family: monospace;
  /*   margin: 0; */
  padding: 0 0 1rem 0;
  text-align: end;
  /*   border: 0 solid; */
  display: inline-block;
}

textarea  {
  resize: vertical;
  /*min-height: 3rem;
  min-width: 10rem;*/
  width: calc(100% - 3rem);
}

#resize_ta {
    vertical-align: top;
}
