@import url(links.css);
/* @import url(view.css); */

#start, #end {
  font-family: monospace;
  font-size: medium;
  /*   width: 80%; */
}

.delta {
  font-family: monospace;
  /*   margin: 0;
  padding: 0; */
  font-size: medium;
  text-align: end;
  /*    border: 0 solid; */
  /*   display: inline-block; */
}

.sign {
  font-family: monospace;
  /*   margin: 0;
  padding: 0; */
  text-align: end;
  /*   border: 0 solid; */
  display: inline-block;
}

.year, .month, .date, .week, .hour, .minute, .second {
  font-family: monospace;
  /*   margin: 0;
  padding: 0; */
  text-align: end;
  /*   border: 0 solid; */
  /*   display: inline-block; */
}

/* Don't specify size so resize will work. */
textarea {
  font-size: large;
  resize: vertical;
  width: 95%;
}
