@import url(view.css);

#edit_markdown {
  margin: 0.3rem;
  border: 1px solid;
  padding: 0.2rem;
  display: none;
/*   position: absolute; */
/*   top: 0; */
/*   overflow: scroll; */
/*   width: 100%; */
  white-space: pre-wrap;
  word-break: break-all;
/*   left: 0; */
}

#render_markdown {
  margin: 0.3rem;
  border: 1px solid;
  padding: 0.2rem;
  display: none;
/*   position: absolute; */
/*   opacity: 1.0; */
/*   overflow: scroll; */
/*   top: 0; */
/*   left: 100%; */
/*   width: 100%; */
}

code {
  background-color: lightgray;
}
