
.view {
    flex: auto;
    /* position: fixed; */
    overflow: scroll;
    /* top: 2rem; */
    /* left: 0; */
    /* right: 0; */
    /* bottom: 0; */
    /*   margin: 0.2rem; */
    /*   width: 100%; */
    /* height: calc(100vh - 3rem); */
    /* transform: translate(0, 0); */
    scrollbar-color: black white;
    /* scrollbar-width: thin; */
}

/* section#view-after-punchcard-list { */
/*   background-color: white; */
/*   display: none; */
/*   width: calc(100% - 3ex); */
/* } */
